@import 'tailwindcss';

@theme {
  --font-sans: 'Prompt', ui-sans-serif, system-ui, sans-serif;

  --color-brand: #81fe88;
  --color-page: #01080e;
  --color-surface: #171d1f;
  --color-shape: #0a1a20;
  --color-offwhite: #e1e1e1;
  --color-muted: #888888;
}
